<div class="col-xs-12 col-md-4">
    <div class="leftBox">
        <div class="lines" id="leftline"></div>
        <div class="leftBoxText">
            <h4 class="welcome">BAKERIES</h4>
            <p class="leftText">We all like when the smell of bakeries is in the air. It feels like home, like family, like something precious. Let's try to create this atmosphere with my favourite recipes!</p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-8">
    <div class="lines" id="rightline"></div>
    <div class="rightBox">
        <div id="first-recipe">
            <h4 class="recipeName">Puff Pastry with Minced Meat and Champignons</h4>
            <img class="recipeImage" src="images/thumb_bakeries1.jpg">
            <p class="recipeText">
                As usual we want something very quick and very tasty so here we go! What can be better than puff pastry which is melting on your bite? Here is what you need:
                <ul>
                    <li>250gr. pack of puff pastry</li>
                    <li>300gr. minced meat(any kind you like, but I prefer beef) -300gr.</li>
                    <li>250gr. fresh champignons</li>
                    <li> 1 onion</li>
                    <li> 2 tablespoons of oil to fry</li>
                    <li>150gr. slices of cheese you like</li>
                    <li>1 egg for greasing</li>
                    <li>Salt and spices you like</li>
                </ul>
                We start with champignons which we slice in small pieces and fry in the pan with vegetable oil, at the end we add salt and take them out. In the same pan we fry minced meat. Later when meat is no longer red we add slices of onions and fry till it's ready. We add spices we like and salt ofcourse. Add champignons to minced meat. Leave the pan with our filling to cool up a bit. At this stage we need to preheat our oven up to 200°C. Now we move on to pastry which we devide in squares approximately 8 by 8 cm. On each square we put two tablespoons of our tasty filling, covering with one piece of cheese. Bring up two opposite sides immitating envelop but leave the filling to show off. When all of them are ready we need a beaten egg to grease the top of our bakeries. Now our oven is hot enough so we just place our "envelops" in the oven-tray on a baking paper and wait 20 minutes. During this time we make tea or we sit and watch how our bakeries "grow" in the oven. Bon Appetit!
                <div class="insideLine"></div>
        </div>
        <div id="second-recipe">
            <h4 class="recipeName2">Banana Cupcakes</h4>
            <img class="recipeImage" src="images/thumb_bakeries2.jpg">
            <p class="recipeText">
                So many kinds of cupcakes we know. These sweet cakes are worth to try and easy to make. I hope you will like my banana cupcakes. The ingredients are:
                <br>
                <ul>
                    <li>2 bananas (if they are small then 3)</li>
                    <li> 2 eggs</li>
                    <li> 2 spoons of vegetable oil</li>
                    <li> 2 teaspoons baking powder</li>
                    <li>150 gr. sugar</li>
                    <li>1 1/2 cups flour</li>
                </ul>
                Blend bananas into puree, then add eggs, oil and sugar untill smooth. In a seperate bowl mix flour with baking powder. Combine the mixture with banana puree. It's ready to be baked! Place paper cups for cupcakes inside of every hole of a special pan. Pour the dough in every hole so it's half covered because our cakes need place to grow. Bake them in 180°C preheated oven up to 30 minutes. Sprinkle with sweet and colourful decorations or chocolate. Good luck!
            </p>
            <div class="insideLine"></div>
        </div>
    </div>
</div>