<div class="col-xs-12 col-md-4">
    <div class="leftBox">
        <div class="lines" id="leftline"></div>
        <div class="leftBoxText">
            <h4 class="welcome">DESSERTS</h4>
            <p class="leftText">This category is devoted for those who like something sweet and fresh. Dessetrs my family like can easlily become a breakfast with coffee. </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-8">
    <div class="lines" id="rightline"></div>
    <div class="rightBox">
        <div id="first-recipe">
            <h4 class="recipeName">Biscuit Dessert</h4>
            <img class="recipeImage" src="images/thumb_dessert1.jpg">
            <p class="recipeText">
                This dessert is able to make even a child so let your family help you. The base is rectangular or square biscuit type with sweet vanilla cottage cheese and every layer is covered with pineapple pieces. Fresh and soft. We will use:
                <ul>
                    <li>250gr. biscuits</li>
                    <li>250gr. cottage cheese</li>
                    <li> 150gr. vanilla yogurt</li>
                    <li> 300gr. can of pineapple pieces in juice(you can use any other fruit in the can)</li>
                    <li>2 tablespoons sugar</li>
                    <li>50gr. chocolate you prefer for topping</li>
                </ul>
                Pour the juice from the can of pineapple in a seperate bowl because we need it to make our biscuit soft. In another bowl we mix thoroughly cottage cheese with vanilla yogurt and sugar. We are ready to "build" our biscuit dessert! On the flat plate we place biscuits drowned in the juice we have prepared. If biscuits are big then 4, if smaller then 6 in every layer. Spread cottage cheese on our first layer and put on top pineapple pieces. Continue with other layers the same way, the last layer we decorate with melting chocolate or whatever you have. You can wait, leave the plate with dessert in the fridge for some time to make the layers softer if not then don't leave a piece!
            </p>
            <div class="insideLine"></div>
        </div>
        <div id="second-recipe">
            <h4 class="recipeName2">Mille-feuille</h4>
            <img class="recipeImage" src="images/thumb_dessert2.jpg">
            <p class="recipeText">
                For this famous french dessert instead of traditioanal cream I use crème fraîche or cottage cheese containing 25% butterfat and I add nuts in every layer. It becomes fresh and healthy as we like. Here is what we need:
                <ul>
                    <li>Pack of puff pastry</li>
                    <li>250gr. cottage cheese or crème fraîche</li>
                    <li>3 tablespoons sugar</li>
                    <li>200gr. your favourite nuts(I like roasted cashew and almonds)</li>
                    <li>Strawberries or any berries for decoration</li>
                    <li>Pinch of vanilla sugar or vanilla extract</li>
                </ul>
                We need to make layers for our delicious dessert. We make them from puff pastry wich we cut in three long parts, making holes with fork so that while baking they won't blow up too much. We take the pan which can fit one layer at a time. Heat the pan without oil and drop the first layer. When you see cooking side becomes brown turn it up and continue with the other side. When all three layers are baked we leave them aside to cool up. Now we take cottage cheese and mix it with sugar and vanilla extract. So this time we take flat plate and spread a bit of our "cream" and put the first layer. Spread more cheese on top and sprinkle with nuts.If you have enough berries and different kinds you can add them to every layer as well. The top we decorate with strawberry and nuts left. Mmm, just start eating it!
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_odnoklassniki"></a>
                    <a class="a2a_button_vk"></a>
                </div>
                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->
                <div class="insideLine"></div>
        </div>
    </div>
</div>