<div class="col-xs-12 col-md-4">
    <div class="leftBox">
        <div class="lines" id="leftline"></div>
        <div class="leftBoxText">
            <h4 class="welcome">WELCOME</h4>
                <p class="leftText">It is pleasure for me to present to you my very first website I have built myself. It contains recipes I use every day to make my family happy.
                <br>
                <br> Use navigation menu on top to explore my recipes compiled in categories. Enjoy!</p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-8">
    <div class="lines" id="rightline"></div>
</div>