<div class="col-xs-12 col-md-4">
    <div class="leftBox">
        <div class="lines" id="leftline"></div>
        <div class="leftBoxText">
            <h4 class="welcome">QUICK & TASTY</h4>
            <p class="leftText">I usually don't spend more than an hour in my kitchen supposing that the time can be spent wisely and that's why I have only time saving recipes in my recipe book. It should be quick and tasty.</p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-8">
    <div class="lines" id="rightline"></div>
    <div class="rightBox">
        <div id="first-recipe">
            <h4 class="recipeName">Magic Ring</h4>
            <img class="recipeImage" src="images/thumb_quicktasty1.jpg">
            <p class="recipeText">
                This recipe of a magic ring can surve as a breakfast or a lunch if you woke up late hungry and need something very quick. We need:
                <ul>
                    <li>Slices of baguette or the bread you like(I use healthy bread with seeds)</li>
                    <li>300gr. Slices of ham or sausage</li>
                    <li> 3 tomatos</li>
                    <li>3 eggs </li>
                    <li> 100gr. butter</li>
                    <li>1/3 cup of milk</li>
                    <li>150gr. grated cheese</li>
                    <li>Salt and spices or herbs you like</li>
                </ul>
                We are as usual in a hurry so as an advice always start with preheating your oven. This time it's 200°C. When you are done with oven start spreading the butter on each slice of the bread. Now we must organize them standing in a shape of a ring to the greased pan where we are going to bake them. Tomatos we cut in slices too. Between slices of bread insert slices of tomatos and ham for each. Eggs beaten with milk, salt and spices we pour on top of our ring. To finish up we sprinkle our ring with cheese and place it inside of the oven. It takes some 15 munutes untill you can see melted cheese and cooked eggs. So what are you waiting for? Take it out and enjoy!
            </p>
            <div class="insideLine"></div>
        </div>
        <div id="second-recipe">
            <h4 class="recipeName2">Soup "Solyanka"</h4>
            <img class="recipeImage" src="images/thumb_quicktasty2.jpg">
            <p class="recipeText">
                This soup is my favourite and plus I can cook it very quick. Let me share with you how. What to have for this soup:
                <ul>
                    <li>300gr. kinds of sausages which have "smoky" smell(can be salami too)</li>
                    <li>1 onion</li>
                    <li> 3 tablespoons tomatos paste</li>
                    <li>3 large salty cucucmbers(pickles or "cornishons") </li>
                    <li> 2 tablespoons vegetable oil to fry</li>
                    <li>1 liter bouillon or water</li>
                    <li>Lemon slices, black olives and sour cream on top</li>
                    <li>Pinch of salt, sugar and black pepper</li>
                </ul>
                In a pot of a medium size we heat vegetable oil. Peel one onion and cut in very small pieces. Send it to the pot and let it fry till it is soft and transparent. During this time we cut sausages and cucumbers in small cubes. When the oninon is ready we add 3 spoons of tomato paste and sausages. We fry this mixture a bit and add cucumbers with water or bouillon. Sprinkle pinch of salt, sugar and black pepper. If you are fan of sour things like me then add 2 tablespoons of pickle brine. Wait untill it boils and cook over medium heat for 10 minutes. Try for salt and sour one more time. If it's fine then you can serve it in bowls. Don't forget to decorate with a lemon slice, black olives and sour cream every bowl. Mmm, deliciuos!
            </p>
            <div class="insideLine"></div>
        </div>
    </div>
</div>